server {
    listen 80;
    listen [::]:80;
    server_name {{ pihole_domain }}.{{ domain_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_password_file       /etc/nginx/ssl/cert.pass;
    ssl_certificate         /etc/nginx/ssl/cert.pem;
    ssl_certificate_key     /etc/nginx/ssl/cert.key;

    server_name {{ pihole_domain }}.{{ domain_name }};
    location / {
        proxy_pass http://{{ ansible_facts['default_ipv4']['address'] }}:8000;
    }
}
