map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

upstream portainer {
  server {{ ansible_facts['default_ipv4']['address'] }}:9000;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ portainer_domain }}.{{ domain_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate         /etc/nginx/ssl/{{ ssl_certificate_filename }};
    ssl_certificate_key     /etc/nginx/ssl/{{ ssl_certificate_key_filename }};

    server_name {{ portainer_domain }}.{{ domain_name }};
    
    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://portainer;
    }

    location /api/websocket/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $http_host;
        proxy_pass http://portainer;
    }
}
