networks:
  prometeus:
    name: prometeus
    external: true

services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    hostname: homepage
    ports:
      - 3000:3000
    networks:
      - prometeus
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      HOMEPAGE_ALLOWED_HOSTS: '{{ ansible_facts['default_ipv4']['address'] }}:3000,{{ homepage_domain }}.{{ domain_name }}'
