networks:
  prometeus:
    name: prometeus

services:
  speedtest:
    container_name: speedtest
    image: miguelndecarvalho/speedtest-exporter:latest
    restart: unless-stopped
    hostname: speedtest
    expose:
      - 9798
    ports:
      - 9798:9798
    networks:
      - prometeus
