networks:
  prometeus:
    name: prometeus
    external: true

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: pihole
    ports:
      - "{{ ansible_facts['default_ipv4']['address'] }}:53:53/tcp"
      - "{{ ansible_facts['default_ipv4']['address'] }}:53:53/udp"
      - "8000:80/tcp"
    environment:
      TZ: '{{ pihole_timezone }}'
      FTLCONF_webserver_api_password: '{{ pihole_password }}'
      FTLCONF_dns_upstreams: '1.1.1.1;1.0.0.1'
      FTLCONF_dns_revServers: 'true,{{ ansible_facts['default_ipv4']['network'] }}/{{ ansible_facts['default_ipv4']['prefix'] }},{{ ansible_facts['default_ipv4']['address'] }},lan'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
      VIRTUAL_HOST: {{ pihole_domain }}.{{ domain_name }}
      FTLCONF_webserver_port: 80
      PROXY_LOCATION: {{ pihole_domain }}
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_misc_dnsmasq_lines: |
        address=/nas.pi.hole/192.168.1.102
    dns:
      - 127.0.0.1
      - {{ secondary_dns }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    networks:
      - prometeus
    extra_hosts:
      - "{{ grafana_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ portainer_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ pihole_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ ism_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ uptime_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"

  pihole-exporter:
    container_name: pihole-exporter
    image: ekofr/pihole-exporter:latest
    restart: unless-stopped
    hostname: pihole-exporter
    depends_on: 
      - pihole
    ports:
      - "9617:9617"
    environment:
      PIHOLE_HOSTNAME: '{{ ansible_facts['default_ipv4']['address'] }}'
      PIHOLE_PORT: 8000
      PIHOLE_PASSWORD: '{{ pihole_password }}'
      INTERVAL: '30s'
      PORT: 9617
    networks:
      - prometeus
