networks:
  prometeus:
    name: prometeus
    external: true

services:
  wakatime-exporter:
    container_name: wakatime-exporter
    image: jaanonim/wakatime_exporter:latest
    restart: unless-stopped
    hostname: wakatime-exporter
    ports:
      - '9212:9212'
    environment:
      WAKA_API_KEY: '{{ wakatime_api_key }}'
    networks:
      - prometeus
